html[data-theme=dark],
html[data-theme=light] {
    --pst-color-primary: #F79422;
}

html[data-theme=light] {
    --pst-color-secondary: #C56C07;
}

html[data-theme=dark] {
    --pst-color-secondary: #FAB76B;
}
