wheel
PyGithub
autodoc
empy
semantic-version 
sphinx-tabs==3.2.0
alabaster
Babel
beautifulsoup4
breathe
bs4
certifi
chardet
colorama
docutils==0.16 # Downgrading due to bug in docutils 0.18 https://sourceforge.net/p/docutils/bugs/431/
exhale
idna
imagesize
Jinja2
lxml
MarkupSafe
packaging
Pygments
pyparsing
pytz
requests
six
snowballstemmer
soupsieve
Sphinx==3.5.4
sphinx-typo3-theme==4.6.2
sphinxcontrib-apidoc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
WebOb
