wheel
PyGithub
autodoc
empy<=3.3.4
semantic-version 
sphinx-tabs==3.2.0
alabaster
Babel
beautifulsoup4
breathe
bs4
certifi
chardet
colorama
docutils==0.16 # Downgrading due to bug in docutils 0.18 https://sourceforge.net/p/docutils/bugs/431/
exhale
idna
imagesize
Jinja2<3.1
lxml
MarkupSafe
packaging
Pygments
pyparsing
pytz
requests
six
snowballstemmer
soupsieve
Sphinx==3.5.4
sphinx-typo3-theme==4.6.2
sphinxcontrib-apidoc
sphinxcontrib-applehelp<=1.0.7        # 2024-01-15: Newer packages needs Sphinx 5 or up, but our old sphinx-book-theme 0.3.3 requires Sphinx 4
sphinxcontrib-devhelp<=1.0.5          # 2024-01-15: Newer packages need Sphinx 5 or up, but our old sphinx-book-theme 0.3.3 requires Sphinx 4
sphinxcontrib-htmlhelp<=2.0.4         # 2024-01-15: Newer packages (probably) need Sphinx 5 or up, but our old sphinx-book-theme 0.3.3 requires Sphinx 4
sphinxcontrib-jsmath
sphinxcontrib-qthelp<=1.0.6           # 2024-01-15: Newer packages (probably) need Sphinx 5 or up, but our old sphinx-book-theme 0.3.3 requires Sphinx 4
sphinxcontrib-serializinghtml<=1.1.9  # 2024-01-15: Newer packages (probably) need Sphinx 5 or up, but our old sphinx-book-theme 0.3.3 requires Sphinx 4
urllib3
WebOb
sphinxcontrib-youtube<=1.2
