wheel
PyGithub
autodoc
empy
semantic-version 
sphinx-tabs
alabaster
Babel
beautifulsoup4
breathe
bs4
certifi
chardet
colorama
docutils
exhale
idna
imagesize
Jinja2
lxml
MarkupSafe
packaging
Pygments
pyparsing
pytz
requests
six
snowballstemmer
soupsieve
Sphinx
sphinx-typo3-theme
sphinxcontrib-apidoc
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
urllib3
WebOb
