name: Build macOS

on:  
  push:
  pull_request:
    branches:
      - master

jobs:
  build-macos:
    runs-on: macos-13

    steps:
      # XProtect can cause random failures if it decides that the DMG we create
      # during the packaging phase is malware.
      # See https://github.com/actions/runner-images/issues/7522 and https://github.com/servo/servo/pull/30779
    - name: Kill XProtectBehaviorService
      run: |
          echo Killing XProtect.; sudo pkill -9 XProtect >/dev/null || true;
    
    - name: Install latest Python3 via brew
      run: brew install python3 || brew link --overwrite python@3.12

    - name: Install latest Qt5 via brew
      run: brew install qt@5

    - name: Install Dependencies
      run: brew install ninja doxygen graphviz protobuf hdf5@1.10 pkg-config capnp

    - name: Checkout
      uses: actions/checkout@v4
      with:
        submodules:  'true'
        fetch-depth: 0

    - name: Display Python version
      run: python -c "import sys; print(sys.version)"
        
    - name: Install Python requirements
      run: |
        sudo pip3 install -r "$GITHUB_WORKSPACE/doc/requirements.txt" --break-system-packages

    - name: CMake
      run: |
        mkdir "${{ runner.workspace }}/_build"
        cd "${{ runner.workspace }}/_build"
        cmake $GITHUB_WORKSPACE -G "Ninja" \
        -DCMAKE_PROJECT_TOP_LEVEL_INCLUDES=cmake/submodule_dependencies.cmake \
        -DECAL_USE_HDF5=ON \
        -DECAL_USE_QT=ON \
        -DECAL_USE_CURL=ON \
        -DECAL_USE_CAPNPROTO=ON \
        -DECAL_USE_FTXUI=ON \
        -DECAL_BUILD_DOCS=ON \
        -DECAL_BUILD_APPS=ON \
        -DECAL_BUILD_SAMPLES=ON \
        -DECAL_BUILD_TIMEPLUGINS=ON \
        -DECAL_BUILD_PY_BINDING=ON \
        -DECAL_BUILD_CSHARP_BINDING=OFF \
        -DECAL_BUILD_TESTS=ON \
        -DECAL_INSTALL_SAMPLE_SOURCES=ON \
        -DECAL_USE_NPCAP=OFF \
        -DECAL_THIRDPARTY_BUILD_CMAKE_FUNCTIONS=ON \
        -DECAL_THIRDPARTY_BUILD_PROTOBUF=OFF \
        -DECAL_THIRDPARTY_BUILD_SPDLOG=ON \
        -DECAL_THIRDPARTY_BUILD_TINYXML2=ON \
        -DECAL_THIRDPARTY_BUILD_FINEFTP=ON \
        -DECAL_THIRDPARTY_BUILD_CURL=OFF \
        -DECAL_THIRDPARTY_BUILD_GTEST=ON \
        -DECAL_THIRDPARTY_BUILD_HDF5=OFF \
        -DECAL_THIRDPARTY_BUILD_RECYCLE=ON \
        -DECAL_THIRDPARTY_BUILD_TCP_PUBSUB=ON \
        -DECAL_THIRDPARTY_BUILD_QWT=ON \
        -DCMAKE_BUILD_TYPE=Release \
        -DCMAKE_PREFIX_PATH="/usr/local/opt/hdf5@1.10;/usr/local/opt/qt@5" \
        -DCMAKE_CXX_STANDARD=17 \
        -DCMAKE_FIND_PACKAGE_PREFER_CONFIG=ON \
        -DPython_FIND_STRATEGY=LOCATION \
        -DPython_FIND_REGISTRY=NEVER        
      shell: bash

    - name: Build Release
      run: cmake --build . --config Release
      working-directory: ${{ runner.workspace }}/_build
    
    - name: Create config path and copy ecal.yaml
      run: | 
           sudo mkdir /etc/ecal
           sudo cp "./ecal/core/cfg/ecal.yaml" /etc/ecal
      working-directory: ${{ runner.workspace }}/_build

#    - name: Build Documentation C
#      run: cmake --build . --target documentation_c
#      working-directory: ${{ runner.workspace }}/_build

#    - name: Build Documentation C++
#      run: cmake --build . --target documentation_cpp
#      working-directory: ${{ runner.workspace }}/_build

#    currently event test fails under macos ..
#    - name: Run Tests
#      run: ctest -V
#      working-directory: ${{ runner.workspace }}/_build

#    Currently (2024-11-28) packing very often fails under macos
#    - name: Pack
#      uses: nick-fields/retry@v2
#      with:
#        max_attempts: 3
#        retry_on: error
#        timeout_minutes: 3
#        command: cd ${{ runner.workspace }}/_build && cpack -G DragNDrop 

#    - name: Upload DMG
#      uses: actions/upload-artifact@v4
#      with:
#        name: macos-dmg
#        path: ${{ runner.workspace }}/_build/_deploy/*.dmg
