name: Build Wheels

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  release:
    types: [published]
  workflow_dispatch:


jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, ubuntu-24.04-arm]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules:  'true'
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22
        env:
          CIBW_ARCHS: auto64

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl