name: clang-tidy-review

on:
  pull_request:
    paths:
      - '**.cpp'
      - '**.h'
      - '**.c'
      - 'CMakeLists.txt'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true

      - name: Run clang-tidy
        uses: ZedThree/clang-tidy-review@v0.8.3
        id: review
        with:
          build_dir: _build
          apt_packages: "ninja-build,doxygen,graphviz,libcurl4-openssl-dev,libprotobuf-dev,libprotoc-dev,protobuf-compiler,libhdf5-dev,qtbase5-dev,libqwt-qt5-dev"
          config_file: ".clang-tidy"
          # Googletest triggers a _lot_ of clang-tidy warnings, so ignore all
          # the unit tests until they're fixed or ignored upstream
          exclude: "/testing/*,/thirdparty/*,/_build/*,convert_utf.cpp,convert_utf.h"
          cmake_command: |
            cmake . -B _build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
                              -DHAS_HDF5=ON \
                              -DHAS_QT5=ON \
                              -DHAS_CURL=ON \
                              -DHAS_CAPNPROTO=OFF \
                              -DBUILD_DOCS=OFF \
                              -DBUILD_APPS=ON \
                              -DBUILD_SAMPLES=ONS \
                              -DBUILD_TIME=ON \
                              -DBUILD_PY_BINDING=OFF \
                              -DBUILD_STANDALONE_PY_WHEEL=OFF \
                              -DBUILD_CSHARP_BINDING=OFF \
                              -DBUILD_ECAL_TESTS=OFF \
                              -DECAL_LAYER_ICEORYX=OFF \
                              -DECAL_INCLUDE_PY_SAMPLES=OFF \
                              -DECAL_INSTALL_SAMPLE_SOURCES=ON \
                              -DECAL_JOIN_MULTICAST_TWICE=OFF \
                              -DECAL_NPCAP_SUPPORT=OFF \
                              -DECAL_THIRDPARTY_BUILD_CMAKE_FUNCTIONS=ON \
                              -DECAL_THIRDPARTY_BUILD_PROTOBUF=OFF \
                              -DECAL_THIRDPARTY_BUILD_SPDLOG=ON \
                              -DECAL_THIRDPARTY_BUILD_TINYXML2=ON \
                              -DECAL_THIRDPARTY_BUILD_FINEFTP=ON \
                              -DECAL_THIRDPARTY_BUILD_CURL=OFF \
                              -DECAL_THIRDPARTY_BUILD_GTEST=OFF \
                              -DECAL_THIRDPARTY_BUILD_HDF5=OFF \
                              -DECAL_THIRDPARTY_BUILD_RECYCLE=ON \
                              -DECAL_THIRDPARTY_BUILD_TCP_PUBSUB=ON \
                              -DECAL_THIRDPARTY_BUILD_QWT=OFF \
                              -DCMAKE_BUILD_TYPE=Release \
                              -DCMAKE_INSTALL_SYSCONFDIR=/etc \
                              -DCMAKE_INSTALL_PREFIX=/usr \
                              -DCMAKE_INSTALL_LOCALSTATEDIR=/var \
                              -DCMAKE_INSTALL_LIBDIR=lib/x86_64-linux-gnu