.. code-block:: bash

    sudo add-apt-repository ppa:ecal/ecal-{{ ecal_version.major }}.{{ ecal_version.minor }}
    sudo apt-get update
    sudo apt-get install ecal

Also check out this PPA on `Launchpad <https://launchpad.net/~ecal/+archive/ubuntu/ecal-{{ ecal_version.major }}.{{ ecal_version.minor }}>`_!